<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/index.css">
</head>
<body>
    <div id="div1">
        <img alt="background" src="/assets/images/background.jpg" class="bg">
        
        <div id="chatHolder"></div>
        <div id="div2">
            <input type="text" id="myInput" autocomplete="off" placeHolder="Envie uma mensagem">
            <div id="submitMessage" style="visibility: hidden;">
                <img src="/assets/images/SendMessage.png" alt="send" class="send-icon" width="40" height="40">
            </div>
            <div id="fileMessage">
                <img src="/assets/images/Files.png" alt="file send" width="40" height="40">
            </div>
            <div id="recordAudio" style="visibility: visible;">
                <img src="/assets/images/AudioRecord.png" alt="record audio" class="audio-icon" width="50" height="50">
            </div>
            <div id="cameraPhoto">
                <img src="/assets/images/Camera.png" alt="file send" width="43" height="40">
            </div>
        </div>
    </div>
    <div id="titulo">
        <h2> CHAT DOS CRIA </h2>
        <div id="WPP">
            <img src="/assets/images/WPP.png" alt="ZAP DOS CRIA" width="50" height="50">
        </div>
        
    </div>
    <script src="/scripts/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>
