<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/assets/styles/signin.css">
    </head>
    <body>
        <p> Cadastro <p>
            <form id="nome"> 
                <input type="text" id="username" class="signinInput" autocomplete="off" placeholder="Nome de Usuário">
                <input type="text" id="password" class="signupInput" autocomplete="off" placeholder="Senha">
                <button type="button" id="LoginBtn"> Enviar </button>
            </form>
            <script src="/scripts/signIn.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>
</html>