<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Conta WC</title>
    <link rel="stylesheet" href="/assets/styles/signup.css" />
  </head>
  <body>
    <div id="div1">
      <h1 id="h1CriarConta">Criar nova conta</h1>
      <form id="Form" target="_self">
        <input
          required
          type="text"
          id="username"
          class="signupInput"
          autocomplete="off"
          placeholder="Nome de Usuário"
        />
        <input
          required
          type="text"
          id="phoneNumber"
          class="signupInput"
          autocomplete="off"
          placeholder="N° Telefone"
        />
        <input
          required="required"
          type="password"
          id="password"
          class="signupInput"
          autocomplete="off"
          placeholder="Senha"
          pattern=".{6,}"
          title="A senha deve conter 6 ou mais caracteres"
        />
        <input
          required
          type="password"
          id="password2"
          class="signupInput"
          autocomplete="off"
          placeholder="Repita sua Senha"
        />

        <div id="div2">
          <button type="submit" id="CriarContaBtn">Criar Conta</button>
          <button type="button" id="PossuiContaBtn" onclick="redirecionar()">
            Já possui uma Conta?
          </button>
        </div>
      </form>
    </div>

    <script src="/scripts/signUp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
