body {
    background-color: #2D7359;
}

.LogarContaPainel {
    
    top: 8%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #45736A;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem 1rem #194035;
    color: white;
    position:absolute;
    height: 650px;
    width: 600px;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    display: flex;
    justify-content: start;

}
.Titulo {
    margin: 0 auto;
    margin-bottom: 500px;
}
.Formulario {

    position: absolute;
    left: 12%;
}
input{
    background-color: rgba(161, 161, 161, 0.753);
    color: white;
    border: node;
    border-radius: 10px;
    width: 100%;
    padding: 12px 12px;
    margin: 12px 0;

}
.CampoUser {

    
    position: relative;
    left: 25%;

}
.CampoPassword {
    
    position: relative;
    left: 25%;
    padding-top: 8%;

}
.Botao {

    position: relative;
    left: 70%;
    padding-top: 10%;

}


